html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

body { line-height: .7 }

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 1;
  border-style: solid;
  border-bottom-color: #000; 
}

/* main */

body { background: #34495e; }

body h1 {
  position: fixed;
  top: 23px;
  left: 130px;
  z-index: 6;
  font-size: 23px;
  color: #fff;
  font-weight: 900;
  font-family: serif;
  text-transform: none;
}


body h2 {
  position: fixed;
  top: 27px;
  left: 40px;
  z-index: 6;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  font-family: serif;
  text-transform: uppercase;
}

body h1 > span {
  text-transform: none;
  top: 26px;
  font-weight: 500;
  font-size: 20px;
  font-color: #000;
  z-index: 6;
}

body input + label {
  position: fixed;
  top: 22px;
  right: 40px;
  height: 20px;
  width: 15px;
  z-index: 5;
}

body input + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #020304;
  background: #fff;
  transition: .5s;
}


body input + label span:first-child { top: 3px; background: #fff;}

body input + label span:last-child { top: 16px; background: #fff;}

body label:hover { cursor: pointer; }

body input:checked + label span {
    background: #fff;
  opacity: 0;
  top: 50%;
}

body input:checked + label span:first-child {
    background: #fff;
  opacity: 1;
  transform: rotate(405deg);
}

body input:checked + label span:last-child {
    background: #fff;
  opacity: 1;
  transform: rotate(-405deg);
}

body input ~ nav {
  background: #34495e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  transition: .5s;
  transition-delay: .5s;
  overflow: hidden;
}

body input ~ nav > ul {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 20%;
  right: 20%;
}

body input ~ nav > ul > li {
    background: #34495e;
  opacity: 0;
  transition: .5s;
  transition-delay: 0s;
}

body input ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-family: sans-serif;
  display: block;
  padding: 30px;
}

body input:checked ~ nav {
  height: 100%;
  transition-delay: 0s;
}

body input:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: .5s;
}
